@import "../../styles/partials/index";

.App {
    height: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    position: relative;

    .App__body {
        width: 100%;
        height: calc(100% - 40px);
    }
}
