@import "../../../styles/partials/index";

.Navbar {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    background-color: $white;
    box-shadow: 0 0 4px rgba($neutral-20, 0.2);
    border-radius: 0 0 10px 10px;
    border: 1px solid $neutral-90;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    z-index: 10;

    .headerContent {
        display: flex;
    }
    .Navbar_name {
        text-align: center;
        @extend %regular14;
        color: $neutral-60;
        padding-right: 20px;
    }
}
