@import "../../../../../styles/partials/index.scss";
.Cell {
    @extend %regular16;
    color: $neutral-40;
    height: 2.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .cellInput {
        @extend %regular14;
        padding: 0;
        width: 2.5em;
        height: 2.5em;
        border-width: 0px;
        border-style: none;
        cursor: default;
        text-rendering: unset;
        text-align: center;
        outline: none;
        caret-color: transparent;
    }
}
