@import "../../../../styles/partials/index.scss";
.Grid {
    box-shadow: 0 0 4px rgba($neutral-40, 1);

    .Row:nth-child(2),
    .Row:nth-child(3),
    .Row:nth-child(5),
    .Row:nth-child(6),
    .Row:nth-child(8),
    .Row:nth-child(9) {
        border-top: 1px solid $neutral-90;
    }
    .Row:nth-child(3),
    .Row:nth-child(6) {
        border-bottom: 2px solid $neutral-90;
    }
}
