@import "../../../styles/partials/index";

.Card {
    box-shadow: 0 0 4px rgba($navy, 0.1);
    background-color: $white;
    border: 1px solid $navy;
    border-radius: 10px;
    padding: 10px;

    position: relative;
    height: inherit;
    width: inherit;
}
