@import "../../../../../styles/partials/index.scss";
.Row {
    height: 2.5em;
    width: 22.5em;
    display: flex;
    align-items: center;

    .Cell:nth-child(1),
    .Cell:nth-child(2),
    .Cell:nth-child(4),
    .Cell:nth-child(5),
    .Cell:nth-child(7),
    .Cell:nth-child(8) {
        border-right: 1px solid $neutral-90;
    }

    .Cell:nth-child(3),
    .Cell:nth-child(6) {
        border-right: 2px solid $neutral-90;
    }
}
