$white: #fff;
$neutral-98: #f9f9fc;
$neutral-95: #eff0f6;
$neutral-90: #dfe2ee;
$neutral-85: #cfd4e5;
$neutral-80: #bfc6dc;
$neutral-70: #a1abc8;
$neutral-60: #8490b1;
$neutral-50: #6a7798;
$neutral-40: #515e7e;
$neutral-30: #394665;
$neutral-20: #21304d;
