@import "../../../styles/partials/index";

.Sudoku {
    .backButton {
        position: absolute;
    }
    .Sudoku__difficultyLabel {
        @extend %regular18;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .Sudoku__options {
        display: flex;
        justify-content: center;
        .Button {
            margin-right: 10px;
        }
    }
    .Sudoku__board {
        display: flex;
        justify-content: center;
        // width: fit-content;
    }
    .Sudoku__label {
        @extend %regular18;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}
