@import "../../../styles/partials/index";

.Button {
    @extend %regular14;
    color: $neutral-60;
    height: 25px;
    padding: 4px 9px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: solid 1px $neutral-60;

    &:hover,
    &:focus {
        box-shadow: 0 0 4px $neutral-60;
    }
}
